<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Logging
    https://docs.spring.io/spring-boot/docs/2.1.x/reference/htmlsingle/#boot-features-logging
    https://docs.spring.io/spring-boot/docs/2.1.x/reference/htmlsingle/#boot-features-logback-extensions
     -->

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/spring-boot-example.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/spring-boot-example-%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>1000</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.apache.commons" level="INFO"/>
	<logger name="org.apache.ibatis.io" level="INFO"/>
	<logger name="org.apache.activemq" level="INFO"/>
	<logger name="net.sf.ehcache" level="INFO"/>

	<springProfile name="!dev">
		<root level="DEBUG">
			<appender-ref ref="RollingFile" />
		</root>
	</springProfile>

	<springProfile name="default,dev">
		<root level="DEBUG">
			<appender-ref ref="Console" />
		</root>
	</springProfile>

</configuration>
