<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mybatis.dao.MerchantMapper" >
  <resultMap id="BaseResultMap" type="org.example.mybatis.entity.Merchant" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="mer_name" property="merName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mer_id, mer_name, address, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from merchant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.example.mybatis.entity.Merchant" >
    insert into merchant (id, mer_id, mer_name, 
      address, create_time)
    values (#{id,jdbcType=BIGINT}, #{merId,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.example.mybatis.entity.Merchant" >
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="merName != null" >
        mer_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.mybatis.entity.Merchant" >
    update merchant
    <set >
      <if test="merId != null" >
        mer_id = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        mer_name = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.mybatis.entity.Merchant" >
    update merchant
    set mer_id = #{merId,jdbcType=VARCHAR},
      mer_name = #{merName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>