<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="60">
  <Appenders>
    <RollingFile name="RollingFile" fileName="${sys:user.dir}/logs/zipkin.log"
      filePattern="${sys:user.dir}/logs/zipkin.log-%i.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %c{1.} %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="100" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="RollingFile" />
    </Root>
  </Loggers>
</Configuration>
